@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Maven+Pro&family=Mulish:wght@300&family=Open+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Mulish:wght@300&family=Open+Sans&display=swap');
*{
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: rgb(39, 39, 39);
    color :rgb(232, 118, 19)
}
p{
    font-size: 2.0rem;
    color: #c4c3c2;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Courier Prime', monospace;
 

}
.profileimg{
    margin: 3px 10px;
    float: right;
}
.touch{
    font-size: 2.0rem;
    color :rgb(232, 118, 19);
    margin: 0;

}
.skills-title{
    font-size: 50px;
    text-align: center;
    font-family: 'Mulish';
}
.skills-section{
    margin-top: 10rem;
    /* margin-bottom: 50px; */
}
.sub-title{
    font-size: 40px;
    color :rgb(232, 118, 19);
    font-family: Maven Pro;
    display: flex;
    flex-direction: column-reverse;

}
.sub-sub-title{
    font-size: 1.0rem;
    color: #c4c3c2;
    text-decoration: none;
    margin: 0;
}
.bar{
    color: #2e2a26;
}
.logo{
    position: absolute;
    margin-top: 0;
    z-index: 0;
    margin-left: 0;
    font-size: 1.8rem;
    transform: translate(-65%, 25%);
}
.social{
    position: absolute;
    font-size: 3.0rem;
    transform: translate(100%, -25%);
}